@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131313;
    color: rgb(232, 232, 232);
    font-family: 'Inconsolata', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li{
    list-style: none;
    padding-top: 25px;
    
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 50px;
}

.palestrante{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 120px 0 120px;
}

.photo img{
    width: 70%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.resumo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 75%;
}

.resumo h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.resumo p{
    font-size: 25px;
    font-weight: 300;
    line-height: 50px;
}

.resumo a{
    color: white;
    font-size: 25px;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(16, 27, 130);
    margin-top: 100px;
    padding-left: 50px;
}

footer p{
    color: white;
    font-size: 20px;
}