<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'categorias.css')}}">
    <title>Categorias</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Eventos Acadêmicos</a></li>
                <li><a href="{{url_for('categoria')}}">Categorias</a></li>
                <li><a href="{{url_for('todos_palestrantes')}}">Lista de Palestrantes</a></li>
            </ul>
        </nav>
    </header>

    <section class="main">
        <div class="texto">
            <h1>Acesse as categorias do evento</h1>
        </div>

        <div class="categorias">
            {% for categoria in categorias%}
            <div class="ia">
                <img src="{{categoria.get_imagem()}}" alt="">
                <a href="{{url_for('detalhes_evento', id = categoria.get_id_evento())}}">{{categoria.get_nome()}}</a>
            </div>
            {% endfor %}
        </div>
    </section>

    <footer>
        <p>Página Principal</p>
    </footer>
</body>
</html>