<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'palestrante.css')}}">
    <title>Palestrantes</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Eventos Acadêmicos</a></li>
            </ul>
        </nav>
    </header>

    <section class="palestrante">
        <div class="photo">
            <img src="{{palestrante.get_foto()}}" alt="img">
        </div>

        <div class="resumo">
            <h1>{{palestrante.get_nome()}}</h1>
            <p>Carreira:</p>
            <p>{{palestrante.get_descricao_carreira()}}</p>

            <h1>Palestrando no dia {{palestrante.get_data_hora()}}</h1>
            <a href="{{url_for('detalhes_palestra')}}">{{palestrante.get_nome_evento()}}</a>
        </div>
    </section>

    <footer>
        <p>Página Palestrantes</p>
    </footer>
</body>
</html>